body {

	background-color: black;
	color: white;

}
#valider{
	margin-left: 45%;
	margin-top: 20px;
	color: white;
	width: 75px;
}
.titre{
	display: flex;
	flex-direction: column;
    justify-content: flex-end;
    line-height: 0.9;
    margin-left: 20px;
    margin-bottom: 12px;
}
.logo{
	margin-left: 150px;
}
.en-tete{
	display: flex;
	flex-direction: row;
}
.nom-entreprise{
	color: grey;
	font-size: 55px;
}
.slogan{
	color: lightblue;
	font-size: 40px;
}
.checkbox {

	display: flex;
	justify-content: center;
	margin-left:0px;
	margin-right: 75%;
	flex-direction: row;

}
.formulaire {

	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-left: 20%;
}

input{
	display: flex;
	align-items: center;
	background-color: black;
	width: 75%;
	height: 30px;
	margin-bottom: 10px;
	color: white;
}