body {
	font-size: 20px;
	background-color: black;
	color: white;
}

form {
	margin-top: 50px;
}

.titre{
	display: flex;
	flex-direction: column;
    justify-content: flex-end;
    line-height: 0.9;
    margin-left: 20px;
    margin-bottom: 12px;
}
.logo{
	margin-left: 10%;
}
.en-tete{
	display: flex;
	flex-direction: row;
}
.nom-entreprise{
	color: grey;
	font-size: 55px;
}
.slogan{
	color: lightblue;
	font-size: 40px;
}
.formulaire {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-left: 10%;
	margin-right: 10%;
}
.civilité{
	display: flex;
	margin-bottom: 15px;
}
.checkbox{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	width: 100%;
}
.checkbox-box{
	margin: 6px;
	height: 10px;
	width: 10px;
}
.checkbox-Madame, .checkbox-Monsieur{
	display: flex;
	flex-direction: row;
}
.text{
	width: 250px;
}
.input{
	display: flex;
}
.input input, select{
	display: flex;
	align-items: center;
	font-size: 20px;
	background-color: black;
	width: 100%;
	height: 30px;
	margin-bottom: 10px;
	color: white;
}
select{
	height: 35px;
}
.champ{
	display: flex;
	justify-content: right;
	margin-right: 10%;
}
.validation{
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.valider{
	font-size: 18px;
	color: white;
	background-color: black;
	width: 100px;
	height: 30px;
}

.input input[data-state="valid"] {
	border-color: hsl(120, 76%, 50%);
}

.input input[data-state="invalid"] {
	border-color: hsl(0, 76%, 50%);
}

@media screen and (max-width: 800px) {
	.civilité{
		display: inline;
	}
	.input{
		display: inline;
	}
  }

@media screen and (max-width: 650px) {
	.nom-entreprise{
		font-size: 45px;
	}
	.slogan{
		font-size: 30px;
	}
	.civilité{
		display: inline;
	}
	.input input, select{
		display: inline;
	}
  }

@media screen and (max-width: 480px) {
	.nom-entreprise{
		font-size: 40px;
	}
	.slogan{
		font-size: 25px;
	}
  }