.body {
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.validation {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

.button {
    border: solid black 1px;
    height: 50px;
    width: 200px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

a   {
        border: solid black 1px;
        height: 50px;
        width: 200px;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
}